.container{
    background-color: #3d535f;
    display: flex;
    align-items: center;
    margin-top: 100vh;
}


.col1{
    z-index: 5;
    width: 60%;
    margin-left: 10px;
}

.content{
    z-index: 12;
    background-color: #3d535f;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.col0{
    width: 40%;

}

.check{
    margin: 5% 2%;
    border: 3px solid  #f3f5f8;
    border-radius: 28px;
    width: 80%;
    font-size: 24px;
    font-weight: 600;
    color: #f3f5f8;
    padding: 10px;
}

.tilde{
    color: rgb(0, 255, 0);
    font-size: 32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid  #f3f5f8;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

.contTildes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbox{
    margin: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #ee00ff, rgb(0, 228, 249));
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbox .imgArmu{
   
    position: relative;
    height: 100%;
    border-radius: 30px;
    width: 99%;
    padding: 2px;
}