.container{
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
    
}

.content{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.contH2{
    position: relative;
    right: 25%;
    color: #3d535f;
    font-size: 25px;
}

.card{
    margin: 20px; /* Incrementé el margen para separar las tarjetas */
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 480px;
    padding: 0px 10px 30px 10px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
}

.card:hover{
    border: 1px solid red;
    background-color: white;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

}

.textArea{
    align-items: center;
}

.textArea p{
    font-weight: 500;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.card img{
    scale: 0.6;
    width: 280px;
    height: fit-content;
}

.contImg{
    display: flex;
    justify-content: center;
    
    height: 200px;
    align-items: center;
}

.card h3{
    
    text-align: center;
    color: red;
    font-size: 32px;
}