.container{
    height: 70vh;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 20px 0 0 0;
}

.content{
    height: 80%;
    width: 80%;
    border-top: 2px solid white;
    padding: 25px 0;
}