.contacto {
   width: 100%;
   background-color: transparent;
   display: flex;
   justify-content: center;
  }
  
  .contacto h2 {
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
    z-index: 200;

  }

  .zIndex{
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    background-color: rgba(62, 60, 60, 0.7);
    
    position: relative;
  }

  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  