@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,300&display=swap');

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
    overflow: hidden;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    position: fixed; /* Cambio */
    bottom: 0; /* Cambio */
    transition: filter 0.3s ease; /* Agregado */
  }
  
  .wrapper.blur {
    filter: blur(5px); /* Agregado */
    z-index: 0;
  }
.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #ee00ff, rgb(0, 228, 249));
    animation: object1 12s linear infinite;
}

.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #ee00ff, rgb(0, 228, 249));
    animation: object2 12s linear infinite;
}


  

@keyframes object1{
    50%{
        left: 35%;
        top: 10%;
    }
}

@keyframes object2{
    50%{
        left: -13%;
        top: 41%;
    }
}

.cols{
    width: 50%;
}

.col0{
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;

}

.btnA{
    text-decoration: none;
    color: #f3f5f8;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
  background-color: rgb(0, 228, 249);
}

.h1Index{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #3d535f;

}

.multiText{
  color: rgb(0, 228, 249);
  text-transform: capitalize;
  border-right: .15em solid rgb(0, 228, 249);
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.fade-out {
  animation: 
    deleting 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.scrollButtons{
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    bottom: 0;
   
    right: 0;
}

.scrollButtons button{
    background-color: #3d535f;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 28px;
    font-weight: 800;
    width: 40px;
    height: 40px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes deleting {
    from { width: 100%; }
    to { width: 0; }
  }
  

.parrafoIndex{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}

.btns{
    width: 100%;
    position: relative;
    left: 150px;
}

.btns button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.btns button:hover{
    background-color: rgb(0, 228, 249);
}

.imgbox{
    position: relative;
    height: 100%;
    width: 100%;
}

.imgbox .imgArmu{
    position: relative;
    height: 100%;
    width: calc(80% - 80px);
    top: -85px;
    right: 50px;
    animation: animateUser 6s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 30px;
        top: -80px;
    }
}

.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter: saturate(200%);
}