/* ofrecemos.module.css */
.container {
  text-align: center;
  height: 100%;
}

.Soluciones{
  font-size: 28px;
  font-weight: 800;
  padding-top: 10px;
  color: red;
  letter-spacing: 2px;
}

.cardContainers {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 10px 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.card {
  position: relative;
  margin: 10px 40px;
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 7px;
}

.card:hover{
  border: 3px solid red;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cardImageFocused {
  transform: scale(1.1);
}

.card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btnDiv {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgb(255, 0, 0);
  width: 100%;
  padding: 20px;
  transition: 2s;
}

.btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: 2s;
}

.card:hover .btnDiv {
  opacity: 1;
  transition: 1s;
}
