/* ofrecemos.module.css */
.container {
  text-align: center;
  height: 100%;
}

.Soluciones {
  font-size: 36px;
  font-weight: 800;
  padding-top: 10px;
  color: red;
  letter-spacing: 2px;
}

.cardContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  position: relative;
  padding: 10px 0;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 450px;
  height: 340px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 13px 13px 20px -3px rgba(0, 0, 0, 0.51);
}

.card:first-child {
  margin-bottom: 20px; /* Espacio entre la primera tarjeta y las siguientes */
}

.cardImage {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.cardImageFocused {
  transform: scale(1.1);
}

.card h3 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 0);
  font-size: 27px;
  padding-bottom: 10px;
}

.btnDiv {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgb(255, 0, 0);
  width: 100%;
  padding: 20px;
  transition: 2s;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: 2s;
}

.card:hover .btnDiv {
  opacity: 1;
  transition: 1s;
}
