.containerClientes {
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(rgb(21, 21, 21), rgb(21, 21, 21), rgb(12, 12, 12), 0.5);
  }

 
  
  .contenedor {
    display: flex;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
  }

  .clienteNoActive{
    height: 80%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(55, 53, 53, 0.5);
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  .clienteNoActive .hola{
    color: #fff;

  }


  .clienteActive{
    width: 80%;
    transform: scale(1.6);
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    z-index: 20;
    transition: 2s;
  }

  .siguiente{
    margin: 0px 60px 0 0;

  }

  
  .cols {
    flex: 1;
    z-index: 20;
  }
  
  .col0 {
    padding-right: 20px;
  }
  
  .col1 {
    padding-left: 20px;
  }

  .hola{
    color: black;
    font-size: 1rem;
  }
  
  
  button {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambio de cursor */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
  }








  