.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  padding: 20px 0;
}

.allTest{
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.btnTestimonio{
  border: none;
  background-color: white;
  padding: 12px 16px;
}

.test{
  width: 100%;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1000px) {
 .container{
flex-wrap: wrap;

 }
 .imgCardGran{
  height: fit-content;
}

.col0{
  width: 100%;
  min-width: 400px;
}
.col1{
  width: 100%;
}
  
}


.col0 {
  padding: 20px;
  margin: 20px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 90%;
  color: black;
  box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -webkit-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -moz-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
}

.cardGrande{
  width: 80%;
  height: 100%;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.cardGrande img{
  width: fit-content;
  height: 240px;
  border-radius: 20px;
}

.cardGrande h2{
  font-size: 32px;
  font-weight: 900;
  color: red;
  letter-spacing: 2px;
}

.cardGrande p{
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  color: black;
}

.btnTestimonio{
  margin-top: 80px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(255, 0, 0);
  padding: 12px 16px;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -webkit-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -moz-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);

}

.btnTestimonio:hover{
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
  transition: 1s;
}

.col1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.casosDeExitos{
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
}

.cards{
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

}

.card {
  width: 200px; /* Tamaño de las tarjetas pequeñas */
  height: 200px; /* Tamaño de las tarjetas pequeñas */
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  color: black;
  text-align: center;
  margin: 8px;
  box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -webkit-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
  -moz-box-shadow: 13px 13px 20px -3px rgba(0,0,0,0.51);
}

.card img{
  width: 130px; /* Tamaño de las tarjetas pequeñas */
  height: 100px;
  border-radius: 20px;

}

.card:hover {
  background-color: #f0f0f0;
}
